@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root {
    --background: 13 53% 95%;
    --foreground: 13 5% 0%;
    --card: 13 50% 90%;
    --card-foreground: 13 5% 10%;
    --popover: 13 53% 95%;
    --popover-foreground: 13 95% 0%;
    --primary: 13 87.2% 53.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 13 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -25 30% 85%;
    --muted-foreground: 13 5% 35%;
    --accent: -25 30% 80%;
    --accent-foreground: 13 5% 10%;
    --destructive: 0 53% 30%;
    --destructive-foreground: 13 5% 90%;
    --border: 13 30% 50%;
    --input: 13 30% 18%;
    --ring: 13 87.2% 53.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 13 50% 5%;
    --foreground: 13 5% 90%;
    --card: 13 50% 0%;
    --card-foreground: 13 5% 90%;
    --popover: 13 50% 5%;
    --popover-foreground: 13 5% 90%;
    --primary: 13 87.2% 53.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 13 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -25 30% 15%;
    --muted-foreground: 13 5% 60%;
    --accent: -25 30% 15%;
    --accent-foreground: 13 5% 90%;
    --destructive: 0 53% 30%;
    --destructive-foreground: 13 5% 90%;
    --border: 13 30% 18%;
    --input: 13 30% 18%;
    --ring: 13 87.2% 53.9%;
    --radius: 1rem;
  }

}

.background {
  background-image: url(valentynky.svg);
  background-size: cover;
  opacity: 0.2;
}